<div class="widget">
  <h3 class="widget-title">Connect</h3>
  <ul>
    <li><a class="spec" href="https://www.linkedin.com/in/shubham-d-9696438a/" alt="LinkedIn" target="_blank" onclick="trackOutboundLink('http://www.linkedin.com/in/shubham-d-9696438a?loc=sidebar');">Linkedin</a></li>
    <li><a class="spec" href="http://github.com/dshubham25?loc=sidebar" alt="Github" target="_blank" onclick="trackOutboundLink('http://github.com/dshubham25/');">Github</a></li>
    <li><a class="spec" href="http://twitter.com/ShubhamDikshit2?loc=sidebar" alt="Twitter" target="_blank" onclick="trackOutboundLink('http://twitter.com/ShubhamDikshit2/');">Twitter</a></li>
    <li><a class="spec" href="mailto:iamsds123@gmail.com" alt="email" target="_blank" onclick="trackOutboundLink('mailto:iamsds123@gmail.com');">Email</a></li>
  </ul>
</div>
